@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=IBM+Plex+Sans+Hebrew&family=IBM+Plex+Sans+Thai+Looped:wght@700&family=Ubuntu:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
.nav {
  background-color: #2874f0;
  color: white;
  display: flex;
  align-content: center;
  /* height: 9vh; */
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 91px;
}

.items {
  display: flex;
}
ul li {
  margin: 23px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 21px;
}
#inp1 {
  width: 385px;
  margin: 0 50px;
  border-radius: 5px;
  padding: 9px;
}
.btn {
  width: 75px;
  padding: 9px;
  border-radius: 7px;
  /* margin: 23px; */
  background-color: transparent;
  border: solid 2px white;
  color: white;
  cursor: pointer;
}
#img1 {
  width: 76vw;
  height: 56vh;
  margin: auto;
  display: block;
  padding-top: 20px;
}
#hd1 {
  /* font-weight: 700; */
  font-size: 21px;
  font-family: revert;
  margin: 21px 0 -25px 46px;
  font-family: -webkit-pictograph;
}
.box1 {
  /* border: solid 2px red; */
  /* height: 288px; */
  margin: 41px;
  /* padding: 7px; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}
.box1::-webkit-scrollbar {
  display: none;
}
.bxa {
  display: flex;
}
.a {
  /* width: 235px; */
  /* border: solid 2px pink; */
  /* height: 238px; */
  /* padding: 2px; */
  margin: 7px 0 0 24px;
}
.b {
  width: 228px;
}
.txt1 {
  font-size: 17px;
  line-height: 22.9px;
  /* font-weight: lighter; */
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  background-color: #2874f0;

  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.a img:hover {
  transform: scale(1.1005);
}
.items li:hover {
  text-decoration: underline;
}
.btn:hover {
  background-color: #7474fb;
}
.burger {
  position: absolute;
  display: none;
  cursor: pointer;
  right: 5%;
  top: 15px;
}
.line {
  width: 33px;
  background-color: rgb(8, 8, 8);
  margin: 3px 3px;
  height: 4px;
}
.navItem {
  display: flex;
}
.aa {
  display: flex;
  padding: 16px;
}
